@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(235, 235, 235);
}

a{
  text-decoration: none;
}

:root {
  --base-color: rgb(97, 140, 236);
  --base-color-dark: rgb(27, 53, 87);
  --base-color-dark-2: rgb(10, 15, 29);
  --base-color-2: rgb(238, 238, 238);
  --base-color-2-opac: rgb(162, 169, 175, 0.5);
  --base-color-opac: rgba(97, 140, 236, 0.5);
  --black-color: #252525;
  --white-color: #ffff;
}

/* ----- Navbar-Bottom-Fixed ------ */
.nav-bottom {
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 300px;
  height: 75px;
  border-radius: 2rem;
  background-color: rgba(238, 238, 238, 0.9);
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: row;

  margin-left: -150px;
  box-shadow: 0px 10px 15px -3px rgba(97, 140, 236, 0.3);
  -moz-box-shadow: 0 4px 4px rgba(97, 140, 236, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(97, 140, 236, 0.3);
}

.nav-bottom div {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-bottom div:hover {
  background-color: var(--base-color-opac);
}

/* ------- Header - Top ------------ */
.header-top {
  background-color: hwb(0 95% 5%);
  width: 100%;
}
.navbar-home {
  transition: 0.3s;
  font-weight: 500;
}

/* ----------- Home CSS --------------- */

.main {
  height: 100vh;
}

.section {
  height: 100vh;
  padding-top:50px;
}

.home-container {
  height: 100%;
}

.home-container .row {
  height: 100%;
  transition: 0.3s;
}

.social-link {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
  width: 35px;
  text-align: center;
  padding: 5px;
}

.social-link a {
  transition: 0.3s;
  border-radius: 25%;
  text-decoration: none;
  color: var(--base-color);
  background-color: rgba(241, 241, 241, 0.8);
  padding: 5px;
}

.social-link a:hover {
  background-color: var(--base-color);
  color: #f1f1f1;
}

.home-title {
  font-size: 1rem;
  font-weight: 600px;
}

.home-img{
  background-color: var(--base-color);
  padding: 7px;
  border-radius: 10%;
  width: 150px;
  height: auto;
  margin-bottom: 35px;
}

.img{
  border: 2px solid #f1f1f1;
}

.btn-cv{
  border: 1px solid var(--base-color);
  transition: 0.3s;
  color: var(--base-color);
  width: 100px;
  font-weight: 500;
}


.btn-cv:hover, .btn-cv:hover:active{
  background-color: var(--base-color);
  color: var(--base-color-2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-blog{
  background-color: var(--base-color);
  border: 1px solid var(--base-color);
  transition: 0.3s;
  color: var(--base-color-2);
  width: 200px;
  font-weight: 500;
}

.btn-blog:hover, .btn-blog:hover:active{
  border: 1px solid var(--base-color);
  color: var(--base-color);
  background-color: transparent;  
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-blog:active{
  transform: scale(1.01);
}


/* ----------------- Skills -------------------------- */

.skill-section{
  height: 100vh;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
}

.skill-container{
  border: 1px solid var(--base-color);
  background-color: var(--base-color);
  border-radius: 10px;
  color: var(--base-color-2);
  padding: 15px;
  height: 90%;
}

.skill-list{
  text-align: start;
  padding: 10px;
  width: 180px;
  margin-left:35%;
  font-size: 1.2rem;
}


/* ------ Responsive ------ */
@media (max-width: 991.98px) {
  .nav-bottom {
    width: 300px;
    height: 70px;

    margin-left: -140px;
  }
}

@media (max-width: 575.98px) {
  .nav-bottom {
    width: 75%;
    height: 70px;

    margin-left: -140px;
  }
}

@media (max-width: 414.98px) {
  .nav-bottom {
    width: 75%;
    height: 70px;

    margin-left: -150px;
  }
}

@media (max-width: 390.98px) {
  .nav-bottom {
    width: 75%;
    height: 70px;

    margin-left: -140px;
  }
}

@media (max-width: 375.98px) {
  .main {
    height: 75vh;
  }

  .social-link {
    font-size: 0.95rem;
  }

  .nav-bottom {
    width: 75%;
    height: 70px;

    margin-left: -140px;
  }

  .btn-cv{
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color);
    width: 90px;
    font-weight: 500;
  }
  .btn-blog{
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color-2);
    width: 180px;
    font-weight: 500;
  }
}

@media (max-width: 360.98px) {
  .nav-bottom {
    width: 75%;
    height: 70px;

    margin-left: -140px;
  }

  .main {
    height: 50vh;
  }

  .home-img{
    width: 120px;
    height: auto;
  }

  .btn-cv{
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color);
    width: 70px;
    font-weight: 500;
  }
  .btn-blog{
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color-2);
    width: 135px;
    font-weight: 500;
  }
}

@media (max-width: 320.98px) {
  .nav-bottom {
    width: 80%;
    height: 70px;

    margin-left: -120px;
  }

  .home-img{
    width: 140px;
  }

  strong{
    font-size: 1.7rem;
  }

  .btn-cv{
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color);
    width: 50px;
    font-weight: 500;
  }
  .btn-blog{
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color-2);
    width: 100px;
    font-weight: 500;
  }
}

@media (max-width: 300.98px) {
  .main {
    height: 75vh;
  }

  .nav-bottom {
    width: 80%;
    height: 70px;

    margin-left: -105px;
  }

  .btn-cv{
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color);
    width: 50px;
    font-weight: 500;
  }
  .btn-blog{
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    transition: 0.3s;
    color: var(--base-color-2);
    width: 100px;
    font-weight: 500;
  }
}
